/* Events page CSS */

.upe-title {
    font-size: 24px;
    color: darkblue;
    text-align: center;
}

.upe-subtitle {
    font-size: 20px;
    text-align: center;
}

.events-calendar {
    width: 800px;
    height: 600px;
    display: block;
    margin: 0 auto;
    border: none;
}