.upeBody{
    position: 'relative';
    min-height: '100vh';
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Monserrat;
}

.navbar a{
    padding: 10px;
}

.background{
    object-fit: 'cover';
    z-Index: -1;
    filter: blur(8px);
  -webkit-filter: blur(8px);
}

.upeLogo{
    width: 50px;
    /* position: relative; */
}

.homeHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.headerText{
    font-family: Montserrat;
    margin-left: 10px;
    width:270px;
}

.centerText{
    font-family: Montserrat;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* width: 500px; */
}
.centerText1{
    letter-spacing: 9.2px;
    display: block;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.19);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.centerText2{
    margin-top:-50px;
    display: block;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.5px;
    font-size: 350px;
}

.centerText3{
    margin-top: -40px;
    text-align: center;
    display: block;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.19);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}