.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ksu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.home-child {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1024px;
}
.upsilon-pi-epsilon-logo-9-2 {
  position: absolute;
  top: 77px;
  left: 549px;
  width: 51px;
  height: 53px;
  object-fit: cover;
}
.upsilon-pi-epsilon {
  position: absolute;
  top: 75px;
  left: 608px;
  font-size: 24px;
  display: inline-block;
  text-align: left;
  width: 266px;
  height: 32px;
}
.international-honor-society {
  position: absolute;
  top: 103px;
  left: 608px;
  font-size: 10px;
  font-weight: 300;
  text-align: left;
  display: inline-block;
  width: 284px;
  height: 33px;
}
.about {
  position: absolute;
  top: 171px;
  left: 244px;
  display: inline-block;
  width: 44px;
  height: 18px;
}
.membership {
  position: absolute;
  top: 171px;
  left: 340px;
  display: inline-block;
  width: 90px;
  height: 18px;
}
.events {
  position: absolute;
  top: 171px;
  left: 479px;
  display: inline-block;
  width: 50px;
  height: 15px;
}
.projects {
  position: absolute;
  top: 171px;
  left: 579px;
  display: inline-block;
  width: 59px;
  height: 14px;
}
.gallery {
  position: absolute;
  top: 171px;
  left: 687px;
  display: inline-block;
  width: 49px;
  height: 14px;
}
.home-item {
  position: absolute;
  top: 182.5px;
  left: 874.3px;
  width: 5.2px;
  height: 4.5px;
}
.resources {
  position: absolute;
  top: 171px;
  left: 788px;
  display: inline-block;
  width: 90px;
  height: 15px;
}
.home-inner {
  position: absolute;
  top: 182.5px;
  left: 1000px;
  width: 5.2px;
  height: 4.5px;
}
.contact-us {
  position: absolute;
  top: 171px;
  left: 910px;
  display: inline-block;
  width: 90px;
  height: 15px;
}
.upe {
  position: absolute;
  top: 367px;
  left: 248px;
  font-size: 350px;
  letter-spacing: 0.01em;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 945px;
  height: 299px;
}
.upsilon-pi-epsilon1 {
  position: absolute;
  top: 666px;
  left: 396px;
  font-size: 16px;
  letter-spacing: 0.09em;
  line-height: 122.47%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 649px;
  height: 111px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.unity-in-technology {
  position: absolute;
  top: 350px;
  left: 334px;
  font-size: 20px;
  letter-spacing: 0.46em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 782px;
  height: 35px;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.19);
  opacity: 0.9;
}
.rectangle-div {
  position: absolute;
  top: 812px;
  left: 565px;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 311px;
  height: 77px;
}
.earn-your-place {
  position: absolute;
  top: 812px;
  left: 570px;
  font-size: 20px;
  letter-spacing: 0.12em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 301px;
  height: 77px;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.19);
}
.home {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  font-family: Montserrat;
}

